@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

body {
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  background-image: url(./images/bg-top.svg),url(./images/bg-bottom.svg);
  background-repeat: no-repeat,no-repeat;
  background-position: top right,bottom left;
  background-color: hsl(240, 78%, 98%);
}

.products{
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.Basic-card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  padding: 30px;
  justify-content: center;
  flex-direction:column;
  align-items:center;
       }

.Professional-card{
  color: white;
  border-radius: 10px;
border: 1px solid #ddd;
  display: flex;
  padding: 30px;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  background-image: linear-gradient(
          to right,
          hsl(236,72%,79%),
          hsl(237,63%,64%)
  );
  transform: scale(1.15);
}

.Professional-card > * {
	transform: scale(0.869);
}

.top {
/* Setting a background image */
display: flex;
justify-content: center;
}
li {
display: flex;
flex-direction:column;
align-items: center;
padding: 12px 0;
box-sizing: border-box;
border-style: solid none;
border-color: black;
}
ul {  
  padding: 0;
  max-width: 300px;
  }

.products .Monthly {
display: none;
}

.show-monthly .Basic-card  .Monthly {
display: block;
}

.show-monthly .Basic-card .Anually {
display: none;
}

.show-monthly .Professional-card  .Monthly {
display: block;
}

.show-monthly .Professional-card .Anually {
display: none;
}

.bluebutton{
background-image: linear-gradient(
          to right,
          hsl(236, 72%, 79%),
          hsl(237, 63%, 64%)
  );
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.whitebutton{
background-color: white;
color: hsl(236, 72%, 79%);
border: none;
border-radius: 5px;
cursor: pointer;
}
.toggle-container {
color: hsl(234, 14%, 74%);
margin-bottom: 40px;
}
.toggle-container {
display: flex;
align-items: center;
justify-content: center;
}

.toggle-container label {
background-image: linear-gradient(
  to right,
  hsl(236, 72%, 79%),
  hsl(237, 63%, 64%)
);
border-radius: 50px;
cursor: pointer;
display: inline-block;
margin: 0 10px;
height: 30px;
width: 60px;
}

.toggle-container label .ball {
background-color: #fff;
border-radius: 50%;
top: 2.5px;
left: 2.5px;
height: 25px;
width: 25px;
transition: transform 0.4s ease;
}

.toggle-container input {
  display: none;
  left: 50%;
}

.toggle-container input:checked + label .ball {
transform: translateX(30px);
}


@media screen and (max-width: 930px) {
	.products {
		flex-direction: column;
	}

	.Professional-card {
		transform: scale(1);
	}

	.Professional-card > * {
		transform: scale(1);
	}
}